@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgba(255, 255, 255, 0.1);
  /* backdrop-filter: blur(10px); */
  width: 100%;
  background-image: url("/boahancock2.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


/* Hide all scrollbars */
*::-webkit-scrollbar {
  display: none;
}
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

